

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.mdl-layout__content{
  overflow-y: visible !important;
  overflow-x: visible !important
}

.bg-grey {
  background-color: #f6f7f6 !important;
}

.bg-nav {
  background-color: #313131 !important;
}

.bg-midnight-blue{
  color: #fff !important;
  background-color: #121a2f !important;
}

.font-red {
  color: #d74a4a;
}
